.footer {
    margin-top: 4.5rem;
    padding: 2rem 0;
    background: white;
  
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    &__logo {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  
  @media (max-width: 425px) {
    .footer {
      &__wrapper {
        flex-direction: column;
      }
  
      &__logo {
        &--modsen {
          order: 1;
        }
  
        &--museum {
          order: 2;
          margin-top: 1rem;
        }
      }
    }
  }
  