.table {
  display: grid;
  height: max-content;
}

img {
  color: var(--text-base-color);
  overflow: hidden;
}

.table--large {
  gap: calc(5% + 65px) 5%;
  @media (min-width: 320px) {
    grid-template-columns: repeat(1, 100%);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 45%);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 30%);
  }
}

.table--small {
  gap: 1rem;

  @media (min-width: 320px) {
    grid-template-columns: repeat(1, 100%);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 45%);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
