.table {
  display: grid;
  height: max-content;
  margin: 2.25rem 0 0 0;

  &--large {
    @media (min-width: 320px) {
      grid-template-columns: repeat(1, 100%);
      gap: 2rem;
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 45%);
      row-gap: 4rem;
      justify-content: space-between;
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 30%);
      > :nth-child(n + 4) {
        display: none;
      }
    }
  }

  &--small {
    gap: 1rem;

    @media (min-width: 320px) {
      grid-template-columns: repeat(1, 100%);
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 45%);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

img {
  color: var(--text-base-color);
  overflow: hidden;
}
